
:root {
    --couleur1: #966978 ;
    --couleur2: #17cd28 ;
    --fontTitreMenu : "megan_juneregular";
    --textFondDark : #fff ;
    --couleurFondDark : #000 ;
    --couleurFondInter: #dddcdc ;
    --couleurFondLight : #fff ;
    --fontArticle : "cabinregular" ;
}
/*  =========== Fonts =================== */
@font-face {
    font-family: 'megan_juneregular';
    src: url('fonts/megan_june-webfont.woff2') format('woff2'),
         url('fonts/megan_june-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'cabinregular';
    src: url('fonts/cabin-regular-webfont.woff2') format('woff2'),
         url('fonts/cabin-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* ============ Général ================= */
*{
    margin: 0; /* overright css html */
    padding: 0;
}

a{
    text-decoration: none; /* pas de liens soulignés */
}

ul{
    list-style-type: none; /*  pas de puces */
}

.container{
    max-width: 1280px; /*  largeur max de bloc si taille au dessus de 1280px */
    width: 100%; /* si taille en dessous de 1280px */
    margin: 0 auto; /* 0 pour haut/bas auto pour droite/gauche */
}

.majuscule{
    text-transform: uppercase;
    font-size: 2rem;
}

.fondInter{
    background-color: var(--couleurFondInter);
}

body{
    font-family: var(--fontArticle);
    font-size: 18px;
}

body h1,h2,h3,h4,h5{
    text-transform: uppercase;
}
/* ============== Tete ================ */
#tete{
    font-family: var(--fontTitreMenu);
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#tete #logo a{
    font-size: 3.5rem ;
    color: black;
    width: 20%;
    border-bottom: 14px solid var(--couleur1); /* pour le petit bout sous la lettre */
}

#tete #menuprincipal{
    width: 60%;
}

#tete #menuprincipal ul{
    display: flex;
    font-size: 2.2rem;
    text-transform: uppercase;
    justify-content: flex-end ;
}

#tete #menuprincipal ul li {
    margin-left: 5%;
}

#tete #menuprincipal ul li a {
    color: black;
    padding-bottom: 12px;
}

#tete #menuprincipal ul li a:hover, #tete #menuprincipal ul li a.on{
    border-bottom: 14px solid var(--couleur2);
}

/* ============== Main ================ */
#slider{
    margin-top: -10px;
}


#contenu {
    margin-top: 24px;
}

#contenu #enAvant {
    display: flex;
    justify-content: space-between;
    padding: 24px 1%;
}

#contenu #enAvant .categorie{
    width: 32%;
    background-color: var(--couleurFondLight);
    border: 1px solid #999898;
    box-sizing: border-box;
    padding: 32px 3% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

#contenu #enAvant .categorie:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

#contenu #enAvant img{
    display: block;
    width: 76px;
    margin: 0 auto 24px;
}

#contenu #enAvant hr{
    width: 12%;
    color: var(--couleur1);
    margin-bottom: 16px;
    text-align: center;
}

 /* remplacer dans l'exemple par la balise hr
#contenu #enAvant .categorie img {
    border-bottom: 8px solid var(--couleur1);
} */ 

#contenu #enAvant a h2 {
    color: #000;
}

#contenu #enAvant p{
    line-height: 30px;
    width: 70%;
}

#contenu #bienvenu {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

#contenu #bienvenu #titrevisuel {
    width: 35%;
}
#contenu #bienvenu #titrevisuel h1{
    font-family: var(--fontTitreMenu);
    font-size: 3.5rem;
    padding-left: 6%;
}
#contenu #bienvenu #titrevisuel img {
    width: 100%;

}

#contenu #bienvenu #texteliste {
    width: 60%;
}

#contenu #bienvenu #texteliste hr{
    width: 6%;
    color: var(--couleur1);
    margin-bottom: 48px;
    margin-top: 48px;
}

#contenu #bienvenu #texteliste p {
    margin: 48px 0;
    width: 80%;

}

#contenu #bienvenu #texteliste ul{
    width: 70%;
    column-count: 2;
    column-gap: 5%;
    padding-bottom: 40px;
}

#contenu #bienvenu #texteliste ul li a{
    font-family: var(--fontTitreMenu);
    font-size: 1.5rem;
    color: #000;
    line-height: 35px;
    background-image: url(images-garden/feuille-picto.jpg);
    background-repeat: no-repeat;
    padding-left: 48px;
    background-position-y: -1px;
    background-position-x: 2px;
}

#contenu #bienvenu #texteliste #button{
    color: #fff;
    padding: 10px 1%;
    background-color: var(--couleur2);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

#pub{
    background-image: url(images-garden/home-05.jpg);
    background-size: cover;
    min-height: 200px;
    margin-top: -4.8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--textFondDark);
    font-family: var(--fontTitreMenu);
    font-size: 2rem;


}
/* ============== Pied ================ */

#pied{
    background-color: var(--couleurFondDark);
    color: var(--couleurFondLight);
    min-height: 170px;
    font-family: var(--fontTitreMenu);
    box-sizing: border-box;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    border-top: 3px solid #9998985e;
}

#pied .colonne{
    width: 48%;
}

#pied .colonne address {
    font-style: normal;
}

#pied .icone {
    margin-top: 16px;
}
#pied .icone a i{
    font-size: 2rem;
    color: #fff;
    padding-right: 16px;;
}

#pied .colonne:last-child {
    text-align: end;
}

#pied .colonne:last-child img{
    padding-bottom: 16px;
}

#pied .colonne:last-child a{
    color: var(--textFondDark);
}

#pied .colonne:last-child a:hover{
    text-decoration: underline;
}



/* ============= Extra (slider) =========== */

.nivo-caption{
    background-color: transparent;
    left: 30%;
    top: 40%;
}

.nivo-caption h4, .nivo-caption h5{
    font-family: var(--fontTitreMenu);
    font-size: 2.7rem;
    font-weight: lighter;
}

.nivo-caption h4{
    font-size: 10rem;
    letter-spacing: 25px;
    
}

.vert{
    color: var(--couleur2);
    border-bottom: 15px solid #fff;
    padding-bottom: 15px;
}

.bordeaux{
    color: var(--couleur1);
    border-bottom: 15px solid #fff;
    padding-bottom: 15px;
}