
:root {
    --couleur1: #966978 ;
    --couleur2: #17cd28 ;
    --fontTitreMenu : "megan_juneregular";
    --textFondDark : #fff ;
    --couleurFondDark : #000 ;
    --couleurFondInter: #dddcdc ;
    --couleurFondLight : #fff ;
    --fontArticle : "cabinregular" ;
}
/*  =========== Fonts =================== */
@font-face {
    font-family: 'megan_juneregular';
    src: url('fonts/megan_june-webfont.woff2') format('woff2'),
         url('fonts/megan_june-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'cabinregular';
    src: url('fonts/cabin-regular-webfont.woff2') format('woff2'),
         url('fonts/cabin-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* ============ Général ================= */
*{
margin: 0; /* overright css html */
padding: 0;
}

a{
    text-decoration: none; /* pas de liens soulignés */
}

ul{
    list-style-type: none; /*  pas de puces */
}

.container{
    max-width: 1280px; /*  largeur max de bloc si taille au dessus de 1280px */
    width: 100%; /* si taille en dessous de 1280px */
    margin: 0 auto; /* 0 pour haut/bas auto pour droite/gauche */
}

.majuscule{
    text-transform: uppercase;
    font-size: 2rem;
}

.fondInter{
    background-color: var(--couleurFondInter);
}

body{
    font-family: var(--fontArticle);
    font-size: 18px;
}

body h1,h2,h3,h4,h5{
    text-transform: uppercase;
}
/* ============== Tete ================ */
#tete{
    font-family: var(--fontTitreMenu);
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#tete #logo a{
    font-size: 3.5rem ;
    color: black;
    width: 20%;
    border-bottom: 14px solid var(--couleur1); /* pour le petit bout sous la lettre */
}

#tete #menuprincipal{
    width: 60%;
}

#tete #menuprincipal #burger{
    font-size: 3rem;
    text-align: right;
    display: none;
}

#tete #menuprincipal ul{
    display: flex;
    font-size: 2.2rem;
    text-transform: uppercase;
    justify-content: flex-end ;
}

#tete #menuprincipal ul li {
    margin-left: 5%;
}

#tete #menuprincipal ul li a {
    color: black;
    padding-bottom: 12px;
}

#tete #menuprincipal ul li a:hover, #tete #menuprincipal ul li a.on{
    border-bottom: 14px solid var(--couleur2);
}

/* ============== Main ================ */
#slider{
    margin-top: -10px;
}


#contenu {
    margin-top: 24px;
}

#contenu #enAvant {
    display: flex;
    justify-content: space-between;
    padding: 24px 1%;
}

#contenu #enAvant .categorie{
    width: 32%;
    background-color: var(--couleurFondLight);
    border: 1px solid #999898;
    box-sizing: border-box;
    padding: 32px 3% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
 
/*
#contenu #enAvant .categorie{
    width: 48%;
}
*/
#contenu #enAvant .categorie:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

#contenu #enAvant img{
    display: block;
    width: 76px;
    margin: 0 auto 24px;
}

#contenu #enAvant hr{
    width: 12%;
    color: var(--couleur1);
    margin-bottom: 16px;
    text-align: center;
}

 /* remplacer dans l'exemple par la balise hr
#contenu #enAvant .categorie img {
    border-bottom: 8px solid var(--couleur1);
} */ 

#contenu #enAvant a h2 {
    color: #000;
}

#contenu #enAvant p{
    line-height: 30px;
    width: 70%;
}

#contenu #bienvenu {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

#contenu #bienvenu #titrevisuel {
    width: 35%;
}
#contenu #bienvenu #titrevisuel h1{
    font-family: var(--fontTitreMenu);
    font-size: 3.5rem;
    padding-left: 6%;
}
#contenu #bienvenu #titrevisuel img {
    width: 100%;

}

#contenu #bienvenu #texteliste {
    width: 60%;
}

#contenu #bienvenu #texteliste hr{
    width: 6%;
    color: var(--couleur1);
    margin-bottom: 48px;
    margin-top: 48px;
}

#contenu #bienvenu #texteliste p {
    margin: 48px 0;
    width: 80%;

}

#contenu #bienvenu #texteliste ul{
    width: 70%;
    column-count: 2;
    column-gap: 5%;
    padding-bottom: 40px;
}

#contenu #bienvenu #texteliste ul li a{
    font-family: var(--fontTitreMenu);
    font-size: 1.5rem;
    color: #000;
    line-height: 35px;
    background-image: url(images-garden/feuille-picto.jpg);
    background-repeat: no-repeat;
    padding-left: 48px;
    background-position-y: -1px;
    background-position-x: 2px;
}

#contenu #bienvenu #texteliste #button{
    color: #fff;
    padding: 10px 1%;
    background-color: var(--couleur2);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

#pub{
    background-image: url(images-garden/home-05.jpg);
    background-size: cover;
    min-height: 200px;
    margin-top: -4.8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--textFondDark);
    font-family: var(--fontTitreMenu);
    font-size: 2rem;


}
/* ============== Pied ================ */

#pied{
    background-color: var(--couleurFondDark);
    color: var(--couleurFondLight);
    min-height: 170px;
    font-family: var(--fontTitreMenu);
    box-sizing: border-box;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    border-top: 3px solid #9998985e;
}

#pied .colonne{
    width: 48%;
}

#pied .colonne address {
    font-style: normal;
}

#pied .icone {
    margin-top: 16px;
}
#pied .icone a i{
    font-size: 2rem;
    color: #fff;
    padding-right: 16px;;
}

#pied .colonne:last-child {
    text-align: end;
}

#pied .colonne:last-child img{
    padding-bottom: 16px;
}

#pied .colonne:last-child a{
    color: var(--textFondDark);
}

#pied .colonne:last-child a:hover{
    text-decoration: underline;
}



/* ============= Extra (slider) =========== */

.nivo-caption{
    background-color: transparent;
    left: 30%;
    top: 40%;
}

.nivo-caption h4, .nivo-caption h5{
    font-family: var(--fontTitreMenu);
    font-size: 2.7rem;
    font-weight: lighter;
}

.nivo-caption h4{
    font-size: 10rem;
    letter-spacing: 25px;
    
}

.vert{
    color: var(--couleur2);
    border-bottom: 15px solid #fff;
    padding-bottom: 15px;
}

.bordeaux{
    color: var(--couleur1);
    border-bottom: 15px solid #fff;
    padding-bottom: 15px;
}

.theme-default .nivo-controlNav  a{
    background: url(images-garden/blanc.jpg) no-repeat ;
}

.theme-default .nivo-controlNav a.active {
    background: url(images-garden/rouge.jpg) no-repeat;
}

/* ============ Page : Galerie =============== */

/* ==== Flexbox ==== */

#contenu .titrePage{
    text-transform: none;
    padding-left: 2%;
    padding-bottom: 30px;
    font-family: var(--fontTitreMenu);
    background-color: #fff;
    font-size: 3rem;
}

#contenu hr{
    justify-content: center;
    align-items: center;
    display: flex;
}


#contenu #paysages {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    background-color: #fff;
}

#contenu #paysages .categoriePaysage{
    width: 100%;
}
#contenu #paysages .categoriePaysage ul {
    padding: 48px 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
}
#contenu #paysages .categoriePaysage ul li a {
    background-color: var(--couleur2);
    color: #fff;
    padding: 8px 16px;
    margin: 0 24px;
    font-size: 1.2rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#contenu #paysages .categoriePaysage ul li a:hover,
#contenu #paysages .categoriePaysage ul li a.choix {
    color: #17cd28;
    background-color: var(--couleur1);
}
/*
.choix {
    background-color: #966978;
    color: #17cd28;
} */

#contenu #paysages .paysage {
    width: 23%;
    box-sizing: border-box;
    display: block ;
    flex-direction: row ;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 1%;
    border: solid 1px #999898;
    background-color: #fff;
    border-radius:0 0 10px 10px;
    -webkit-border-radius:0 0 10px 10px;
    -moz-border-radius:0 0 10px 10px;
    -ms-border-radius:0 0 10px 10px;
    -o-border-radius:0 0 10px 10px;
    line-height: 1rem;
    font-family: var(--fontTitreMenu);
    box-shadow: 2px 2px #00000060;
}

#contenu #paysages .paysage a, 
#contenu #paysages .paysage h2{
    text-decoration: none;
    color: #000;
    text-transform: none;
    margin-top: -10px;
    padding-left: 3%;
}

#contenu #paysages .paysage p {
    margin: 16px 0 16px 0;
    font-size: 1rem;
    padding: 3%;
    box-sizing: border-box;
}

#contenu #paysages .paysage img {
    width: 100%;
    display: block;
    border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -ms-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
}

/* ==== Grid ===== */

#contenu2 .titrePage{
    text-transform: none;
    padding-left: 2%;
    padding-bottom: 30px;
    font-family: var(--fontTitreMenu);
    background-color: #fff;
    font-size: 3rem;
}

#contenu2 #paysages {
    display: grid;
    grid-template-columns: repeat(auto-fill, 280px);
    grid-gap: 16px;
    justify-content: center;
    background-color: #fff;
}

#contenu2 .paysage {
    padding: 1% 0 0;
    border: 1px solid #999898;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 12px 0 0;
}
#contenu2 .paysage h2,
#contenu2 .paysage a{
    color: #000;
    margin-bottom: 8px;
    padding: 8px;    
}
#contenu2 .paysage p{
    padding: 8px;    
}
#contenu2 .paysage img {
    width: 100%;
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    display: block;
}

#contenu3 img{
    max-width: 300px;
    max-height: 300px;
}

/* ====================== */
/* === Page - Contact === */
/* ====================== */

#contact {
    padding: 40px;
    border: #000 solid 1px;
    width: 50%;
    margin: 8px;
}

#contact p {
    margin: 8px 0;
}

#contact .civilite{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 75%;
}

#contact input[type=text], 
#contact input[type=email] {
    padding: 8px;
    width: 67%;
}


#contact .deuxColonnes {
    display: flex;
}
#contact .deuxColonnes p{
    width: 45%;
}

#contact select{
    width: 73%;
    padding: 8px;
}

#contact textarea{
    width: 80%;
    min-height: 150px;
}

#contact .preference {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
}

#contact .submit {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

#contact .submit input {
    background-color: #17cd28;
    padding: 8px 16px;
    margin: 16px 8px ;
    border-style: hidden;
    font-size: 1rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#contact .submit input:hover {
    background-color: var(--couleur1);
 }

#cadre {
    display: flex;
    justify-content: space-evenly;
    padding: 8px;
}

#cadre .iframe {
    width: 48%;
}

#cadre .iframe iframe{
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

#cadre2 { 
    display:flex;
    justify-content: space-evenly;
    padding: 8px;
}

#cadre2 #map {
    width: 100%;
    height: 300px;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

#cadre2 #map iframe{
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}




/* =========== Responsive ================= */

@media screen and (max-width: 800px) {
    body{
        background-color: pink;
    }
    
    #tete{
        align-items: flex-start;
        padding-top: 24px;
        padding-left: 3%;
        box-sizing: border-box;
    }
    
    #tete #menuprincipal #burger{
        display: block;
        padding-right: 3%;
    }
    
    #tete #menuprincipal ul {
        flex-direction: column;
        text-align: right;
        padding-right: 3%;
        display: none;
    }
    #tete #menuprincipal ul li {
        line-height: 3.2rem;
    }
    #tete #menuprincipal ul li a{
        padding-bottom: 0px;        
    }
    
    #tete #menuprincipal ul li a:hover,
    #tete #menuprincipal ul li a.on{
        border-bottom:  10px solid var(--couleur2);
    }
    
    #enAvant .categorie:last-child{
        display: none;
    }

/* ====================== */
/* === Page - Contact === */
/* ====================== */

#contact .deuxColonnes {
    flex-direction: column;
    width: 100%;
}

#contact input[type=text],
#contact input[type=email] {
    width: 100%;
}
#contact select{
    width: 110%;
}

#contact label {
    display: none;
}

#contact .civilite label,
#contact .preference label{
    display: block ;

}


}
@media screen and (max-width: 600px) {
    body{
        background-color: yellow;
    }
    .slider-wrapper{
        display: none ;
    }
    #enAvant{
        flex-direction: column;
        align-items: center;
    }
    #enAvant  .categorie{
        width: 95%;
        margin-bottom: 16px;
    }
    #enAvant .categorie:last-child{
        display: flex;
    }
    
    #bienvenu {
        flex-direction: column;
        width: 98%;
        padding: 40px;
    }
    #bienvenu #texteliste{
        width: 95%;
    }

    #bienvenu #texteliste p {
        line-height: 32px;
        width: 100%;
        font-size: 1.4rem;
    }
    #bienvenu #texteliste ul{
        width: 100%;
    }
    #bienvenu img {
        display: none;
    }

    #pied {
        flex-direction: column;

    }

    #pied .colonne {
        width: 95%;
        text-align: center;
    }



/* ======== Page : Galerie ============ */

    #contenu #paysages .paysage {
        width: 40%;
    }

}